<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>NotifyMyAndroid</string>
	<key>CFBundleIconFile</key>
	<string>nma</string>
	<key>CFBundleIdentifier</key>
	<string>com.nma.growl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NotifyMyAndroid</string>
	<key>CFBundlePackageType</key>
	<string>DISP</string>
	<key>CFBundleSignature</key>
	<string>GRRR</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>GrowlPluginAuthor</key>
	<string>Adriano Maia</string>
	<key>GrowlPluginDescription</key>
	<string>A Growl plugin for NotifyMyAndroid</string>
	<key>NSPrincipalClass</key>
	<string>GrowlNMADisplay</string>
</dict>
</plist>
